.navbar__profile {

    margin-top: 20px;
    width: 250px;
    margin-left: 300px;

    .navbar__item {

        width: 240px;
        margin: auto;
        background-color: black;
        height: 60px;
    }
}