.user__bag {

    display: flex;
    margin-left: 150px;
    margin-right: 150px;

    .bags {

        display: flex;
        flex-direction: column;
        width: calc(100% - 230px);
        margin-left: 10px;

        .bag {
            margin-top: 40px;
            margin-bottom: 40px;
            display: inline-block;
            width: 100%;
            overflow-y: scroll;
            height: 700px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .bag::-webkit-scrollbar {
            display: none;
        }

    }

    .button {

        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .button:hover {

        background-color: greenyellow;
    }
}

.tableProduct {
    width: 100%;
}

table,
tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px solid black;
}


.remove{
    margin-left:auto;
    width: 50px;
    height: 50px;
}

.product
{
    height: 300px;
}
.headerTable
{
    height: 50px;
    font-size: 25px;
}

.imageProduct
{
    height:250px;
}

.removeButton
{
    text-align: center;
    border: 1px,solid
}

.nameProduct{
    font-weight: bold;
    font-size: 25px;
}

.bottom
{
    text-align: center;
    margin-bottom: 40px;
}

.bottomContent
{
    width: 33%;
    display: inline-block;
}