.user__bag {

    display: flex;
    margin-left: 150px;
    margin-right: 150px;

    .bags {

        display: flex;
        flex-direction: column;
        width: calc(100% - 230px);
        margin-left: 10px;

        .bag {
            margin-top: 40px;
            margin-bottom: 40px;
            display: inline-block;
            width: 100%;
            overflow-y: auto;
            height: 700px;
        }

    }

    .button {

        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .button:hover {

        background-color: greenyellow;
    }
}

.tableProduct {
    width: 100%;
}

th,td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.product
{
    height: 250px;
}
.headerTable
{
    height: 50px;
    font-size: 20px;
}

.inputCount
{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    text-align: center;
}

.imageProduct
{
    height:200px;
}

.remove
{
    text-align: center;
    border: 1px,solid;
    width:5%
}

.nameProduct{
    font-weight: bold;
    font-size: 20px;
    width: 30% ;
}
.unitPrice
{
    width: 20% ;
}
.numberProduct{
    width: 20%;
}
.totalPrice{
    width: 25%;
}

.bottom
{
    text-align: center;
    margin-bottom: 40px;
}

.bottomContent
{
    width: 33%;
    display: inline-block;
}

.removeButton{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    background: url('../../../public/Image/remove.png') no-repeat;
    background-size:contain;
}

.removeButton:hover{
    background: url('../../../public/Image/red.png') no-repeat;
    background-size:contain;
}