.buttons{
    width: 20%;
    display: inline-block;
    vertical-align:top;
}

.profile{
    margin-left: 300px;
    margin-right: 300px;
}
.divbutton{
   padding-top: 40px;
   text-align: left;
}

button
{
    width: 90%;
    height: 70px;
}