.statistical {

    margin-top: 40px;
    margin-left: 20px;
    .select {

        width: 100%;
        display: flex;
        flex-direction: row;

        .select__input {

            margin-right: 50px;
            width: 250px;
        }
    }
}