.manager__order {

    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    display: flex;

    .order {

        margin-left: 20px;
        margin-top: 40px;
        padding-right: 5px;
        width: 100%;
        height: 700px;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .order::-webkit-scrollbar {
        display: none;
    }
}