.customer {

    background-color: rgba(0, 255, 21, 0.521);
    border: 1px solid black;
    width: calc(100% - 45px);
    margin-bottom: 20px;
    padding: 20px;

    .info__customer {

        margin-bottom: 10px;
    }
}