
.menubar__item {

    margin-top: 8px;
    width: 250px;
    margin-left: 20px;
    text-align: start;
    padding-left: 30px;
    font-size: 15px;
    display: none;
    transition: all 2s ease-in-out 5s;

    .item {

        margin-bottom: 15px;
    }

    .item:hover {

        color: yellow;
    }
    
}

.navbar__item:hover .menubar__item {

    display: block;
}